<html>
<head>
<title>WWDT</title>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <link rel="stylesheet" type="text/css" href="media/extjs/resources/css/ext-all.css"/>
  <script type="text/javascript" src="media/extjs/adapter/ext/ext-base.js"></script>
  <script type="text/javascript" src="media/extjs/ext-all.js"></script>
  <script type="text/javascript" src="media/js/Ext.ux.GMapPanel3.js"></script>
  <script type="text/javascript" src="media/js/interface.js"></script>
  <link type="text/css" href="media/css/style.css" rel="stylesheet" media="all"/>
  <link rel="stylesheet" type="text/css" id="theme" href="media/extjs/resources/css/xtheme-WWDT.css"/>
  


</head>
<body>


  <div id="headerImg">
      <a href="http://www.wrcc.dri.edu/wwdt/" ><img src="../media/images/WWDTheader.jpg"></img></a>
  </div>
  
  
    {% if errors %}
        {% for error in errors %}
          <script type="text/javascript"> alert('{{ error}}')</script>
        {% endfor%}
    {% endif %} 


  <div id="contact" class="x-hidden">
    <br><h3>General Feedback</h3>
    <p>Click on the feedback button above to open a form to send feedback.</p><br>
    <h3>Dr. John Abatzoglou</h3>
    <p>Email: jabatzoglou@uidaho.edu</p><br />

    <h3>Dr. Kelly Redmond </h3>
    <p>Email: Kelly.Redmond@dri.edu</p>

  </div>

  <div id="use" class="x-hidden">
    <h2><font size="3" color="Black">Step 1</font></h2>
    <p>Choose an option for data retrival from above the map.</p><br />


    <h2><font size="3" color="Black">Step 2</font></h2>
    <p>Click on the map to add marker for gridded data or simply click on predefined region.</p><br />


    <h2><font size="3" color="Black">Step 3</font></h2>
    <p>Choose a tool on the right side of the page. Click on the plus sign to open a panel and click on the minus sign to close a panel.</p><br />
  
    <h2><font size="3" color="Black">Step 4</font></h2>
    <p>Select options and press the Submit! button to request data.</p><br />

    <h2><font size="3" color="Black">Step 5</font></h2>
    <p>Navigate through the along the top edge above the generated data/graphics. Click to navigate between tabs clicking on the Map tab will take you back to the map. Note hitting the back button of the browser or refreshing the page will remove all tabs and data/graphics.</p><br />


  </div>

  <div id="useState" class="x-hidden">
    <h2><font size="3" color="Black">Step 1</font></h2>
    <p>Choose an option for data retrival from above the map.</p><br />


  </div>


  <div id="variables" class="x-hidden">
    <h3><a href="http://lwf.ncdc.noaa.gov/oa/climate/research/prelim/drought/spi.html"
    style="color: 3366FF" target="_blank">SPI</a></h3>

    <p>Standardized Precipitation Index is a drought measurement where negative values
    represent drought and positive values represent wet conditions.</p><br />

    <h3><a href="http://www.drought.noaa.gov/palmer.html" style="color: 3366FF" target=
    "_blank">PDSI</a></h3>

    <p>Palmer Drought Severity Index is a measure of dryness where negative values
    represent drought and positive values reflect excess rain.</p><br />

    <h3><a href="http://www.ncdc.noaa.gov/oa/climate/research/prelim/drought/palmer.html"
    style="color: 3366FF" target="_blank">Palmer Z-Index</a></h3>

    <p>Palmer Z-Index is a measure of monthly moisture conditions where negative values
    represent drought conditions and positive values represent wetness.</p><br />

    <h3><a href=
     "http://journals.ametsoc.org/doi/full/10.1175/1520-0442%282004%29017%3C2335%3AASPDSI%3E2.0.CO%3B2"
    style="color: 3366FF" target="_blank">Self Calibrated PDSI</a></h3>

    <p>Self Calibrated Palmer Drought Serverity Index is created by replacing constant
    empirical values- mainly extreme events- with dynamically calculated values that are
    more spatially explicit.</p><br />
  </div>
 
  <div id="disclaimer" class="x-hidden">
    <h3>Disclaimer</h3>
    <p>Data are produced using data from the PRISM (Parameter-elevation Regressions on Independent Slopes Model weblink http://prism.oregonstate.edu) and the National Weather Service Cooperative Observer Network (COOP). 
</p>
<br>
<p>All near-real-time data are considered preliminary and should be used responsibly. All near-real time
data should be considered provisional, subject to change, and used accordingly.</p>
  </div>

  <div id="time_series" class="x-hidden">
    <br><br>
    <h3 align="center">Time Series Box</h3>
    <br>
    <p align="center">Function: generate a time series of select variables from 1895 through the most recent complete month.
</p>
  </div>

  <div id="all_data" class="x-hidden">
    <br><br>
    <h3 align="center">All Data</h3>
    <br>
    <p align="center">Extract all months of data for selected variables for the period of record.
</p>
  </div>


  <div id="climatology" class="x-hidden">
    <br><br>
    <h3 align="center">Climatology Box</h3>
    <br>
    <p align="center">Function: generate a time series of select variables for a sequence of months.
</p>
  </div>


  <div id="time_series2" class="x-hidden">
    <br><br>
    <h3 align="center">Time Series Box</h3>
    <br>
    <p align="center">Function: generate a time series of select variables from 1895 through the most recent complete month.
</p>
  </div>

  <div id="all_data2" class="x-hidden">
    <br><br>
    <h3 align="center">All Data</h3>
    <br>
    <p align="center">Extract all months of data for selected variables for the period of record.
</p>
  </div>


  <div id="climatology2" class="x-hidden">
    <br><br>
    <h3 align="center">Climatology Box</h3>
    <br>
    <p align="center">Function: generate a time series of select variables for a sequence of months.
</p>
  </div>


</body>
</html>
